.projects {
  margin-top: 2700px;
  height: 500vh;
}

.project1 {
  height: 100vh;
  background-color: #ffacac;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project2 {
  height: 100vh;
  background-color: #ffd97f;
  display: flex;
  justify-content: center;
  align-items: center;
}